//Define global color variables or color schemes inside here
$teal: #128b8d; /*bright blue green color, used below the orange lines, for buttons & headers*/
$marineBlue: #143642; /*dark marine blue, used for footers*/
$hyperBlue: #00bbff; /*friendly bright blue used for hyperlinks*/
$boatieOrange: #e55e25; /* primary color of boatie */
$lightOrange: #EA9300;
$textColor: #636363; /*default body text color */
$textColorHighlighted: #5d5d5d; /* default color for a highlighted body text */
$boatieBackground: #f8f6f3; /* a very bright combination of boatie orange and white, used mainly as background colors */
$boatieRed: #a8201a; /* red used for warnings or special cases as a third color */
$modalGrey: #f8f8f8; /* grey color used as background for modals */

// Old color scheme
// $teal: #118b8d; /*bright blue green color, used below the orange lines, for buttons & headers*/
// $marineBlue: #143642; /*dark marine blue, used for footers*/
// $hyperBlue: #00bbff; /*friendly bright blue used for hyperlinks*/
// $boatieOrange: #ea9300; /* primary color of boatie */
// $textColor: #636363; /*default body text color */
// $textColorHighlighted: #5d5d5d; /* default color for a highlighted body text */
// $boatieBackground: #f8f6f3; /* a very bright combination of boatie orange and white, used mainly as background colors */
// $boatieRed: #a8201a; /* red used for warnings or special cases as a third color */
// $modalGrey: #f8f8f8; /* grey color used as background for modals */
