#dashboard-trips {
  .no-trips {
    position: absolute;
    left: 0px;
    right: 0px;
    /* margin: 0px auto; */
    text-align: center;
    color: #989898;
    top: 100px;
  }

  .left {
    padding-top: 12px;
  }

  .dashboard-header-handler {
    margin-bottom: 50px;
  }
  .dashboard-list {
    height: calc(100% - 100px);
  }
}

// Manage trip modal for more information and assigning a captain
#manage-trip-modal {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  z-index: 500;
  position: absolute;
  left: 0px;
  top: -110vh;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  transition: opacity 0.3s 0.1s, top 0.1s 0.4s;

  .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .shadow-background {
      background: rgba(39, 39, 39, 0.8);
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
    }

    .modal-box {
      position: relative;
      z-index: 510;
      width: calc(95vw - 100px);
      height: auto;
      padding: 30px;
      background: white;
      border-radius: $borderRadius;
      max-width: 1000px;
      display: inline-block;
      max-height: 700px;

      .modal-title {
        color: $teal;
        text-transform: uppercase;
      }

      .modal-content {
        h5 {
          margin: 30px 0px 20px 0px;
          color: $teal;
        }

        .item {
          padding-right: 50px;
          padding-bottom: 20px;

          .item-title {
            font-size: 10px;
            padding-bottom: 5px;
          }
        }

        .trip-details {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-auto-rows: 1fr;
          /* keeps all grid boxes same height, else remove */
          grid-gap: 10px;

          .item {
            padding-bottom: 5px;
          }
        }
      }

      .close-button {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 25px;
        height: 25px;
        opacity: 0.6;
        transition: opacity 0.3s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &:after,
        &:before {
          position: absolute;
          left: 15px;
          content: " ";
          height: 26px;
          width: 1.5px;
          background-color: #333;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      .bottom-wrapper {
        display: flex;
        justify-content: space-between;

        .client-details {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-gap: 25px;

          .trip-customer-thoughts {
            div {
              width: 260px;
              border-radius: 5px;
              border: 1px solid #b5b5b5;
              height: 100%;
              padding: 10px;
              overflow-y: scroll;
            }
          }
        }
      }

      .delete-wrapper {
        display: flex;
        display: flex;
        align-items: flex-end;
        padding-bottom: 2px;

        button#delete-trip {
          color: $boatieRed;
          background: transparent;
          border: 1px solid $boatieRed;
          transition: all 0.3s;
          cursor: pointer;
          margin-top: 50px;
        }

        button#delete-trip:hover {
          color: white;
          background: $boatieRed;
          border: 1px solid $boatieRed;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    top: 0vh;
    transition: opacity 0.3s 0.1s, top 0.1s;
  }

  .select-wrapper {
    position: relative;
    width: 100%;

    &:after {
      content: "";
      display: inline-block;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid $teal;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }

    select {
      background-color: white;
      color: gray;
      padding: 6px 12px;
      width: 100%;
      box-shadow: $boxShadow;
      border: none;
      border-radius: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: button;
      outline: none;
      font-size: 14px;
      text-indent: 1px;
      text-overflow: "";
      &::-ms-expand {
        display: none;
      }
    }
  }

  .trip-modal-captain {
    .item-title {
      .status {
        opacity: 0;
        transition: opacity 0.3s;
        color: green;
        font-weight: bold;
        padding-left: 25px;
      }
    }
  }
}

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #manage-trip-modal {
    .container {
      .modal-box {
        position: relative;
        z-index: 510;
        width: calc(95vw - 20px);
        height: calc(95vh - 20px);
        padding: 0;
        background: white;
        border-radius: 18px;
        max-width: 1400px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        max-height: calc(95vh - 20px);

        .modal-box-sub-wrapper {
          position: relative;
          height: calc(95vh - 20px - 60px);
          padding: 30px;
          max-width: 1400px;
          display: inline-block;
          max-height: none;
          width: 100%;
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #manage-trip-modal {
    .container {
      .modal-box {
        .modal-box-sub-wrapper {
          padding: 30px;
        }

        .modal-content {
          .trip-details {
            grid-template-columns: repeat(1, 1fr);

            grid-gap: 25px;
          }
        }

        .bottom-wrapper {
          flex-direction: column;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
}
